extends layout

block content
  -
   let animal = results
  h1= title
  .container-fluid 
    .row 
    
      each anima in results
        div(class="col-sm-2" style=`border:solid 2px black` onclick=`buy(${animal.indexOf(anima)})`) 
            p animal_Name : #{anima.animal_Name}
            p animal_breed : #{anima.animal_breed}
            p animal_cost : #{anima.animal_cost}
  
  script.
    function buy(index) {
        alert("You Purchased item "+(index+1))
    }
  
